//Underscore defines this file as a partial.
$white: #ffffff;
$black: #1a1a1a;

$dark-grey: #333333;
$cloud-grey: #979797;
$storm-grey: #383838;
$winter-grey: #4b4b4b;
$grey: #616161;

$dusty-yellow: #9b9914;
$dusty-red: #721d01;
$dusty-blue: #135d87;
$dusty-white: #c8c8c8;

$irish-green: #0B5904
