@import 'colours';

@mixin small-screen() {
  @media only screen and (max-width: $small-width) {
    //will just put in any content that we give it.
    @content
  }
}

@mixin medium-screen() {
  @media only screen and (max-width: $medium-width) {
    @content
  }
}

@mixin large-screen() {
  @media only screen and (max-width: $large-width) {
    @content
  }
}

//This downloads the font from the internet (googleapis specifically)
@mixin google-font($font) {
  $font: unquote($font);
  @import url(https://fonts.googleapis.com/css?family=#{$font});
}

@mixin font-size($size, $weight) {
  font: {
    size: $size;
    weight: $weight;
  }
}

//Can specify parameters and default values.
@mixin rounded($radius: 6px) {
  border-radius: $radius;
}

@mixin label($size: 14px, $weight: bold, $bottom-margin: 5px) {
  @include font-size($size, $weight);
  display: inline-block;
  max-width: 100%;
  margin-bottom: $bottom-margin;
}

@mixin button($background, $text-colour, $radius: 4px, $border: 1px solid $button-border-colour) {
  @include rounded($radius);
  transition-duration: 0.4s;
  background-color: $background;
  border: $border;
  //margin: 2px 0 10px 0;
  color: $text-colour;
  width: 100px;
  height: 30px;
  &:hover {
    background: darken($background, 8%);
    cursor: pointer;
  }
  &:active {
    background: darken($background, 25%);
  }
}

@mixin textbox($border-colour, $focus-colour, $radius: 4px, $width: 100%, $height: 34px) {
  @include rounded(4px);
  display: block;
  cursor: auto;
  width: $width;
  //height: $height;
  padding: 6px 12px;
  //margin: 2px 0 10px 0;
  border: 1px solid $border-colour;
  //box-sizing: border-box;
  &:focus {
    border-color: $focus-colour;
    outline: 0;
    box-shadow: inset 0 1px 1px darken($focus-colour, .075), 0 0 8px darken($dusty-white, .6);
  }
}

@mixin box($radius: 6px, $border: 1px solid) {
  @include rounded($radius);
  border: $border $dusty-white;
}

//The three dots make it a var arg
@mixin box-shadow($shadows...) {
  box-shadow: $shadows;
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
}
