@import '../../../app.component.global';

.cash-navigation {
  height: $nav-bar-height;

  ul {
    background-color: $nav-bar-colour;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li a {
    color: $nav-bar-item-colour;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    color: $nav-bar-hover-colour;
    background-color: $nav-bar-hover-background;
  }
}
