<div class="account-edit-component">
  <h2>{{getFormTitle()}}</h2>
  <form [formGroup]="accountEditForm" id="account-edit" (ngSubmit)="onSubmit()">
    <div class="cash-form-group">
      <label for="name">{{'account.account_edit.account_name' | i18n}}</label>
      <input
        id="name"
        class="cash-textbox"
        type="text"
        formControlName="name"
      />
    </div>
    <div class="cash-form-group">
      <label for="number">{{'account.account_edit.account_number' | i18n}}</label>
      <input
        id="number"
        class="cash-textbox"
        type="text"
        formControlName="number"
      />
    </div>
    <div class="cash-form-group">
      <label for="openingBalance">{{'account.account_edit.account_opening_balance' | i18n}}</label>
      <input
        id="openingBalance"
        class="cash-textbox"
        type="text"
        formControlName="openingBalance"
      />
    </div>
    <div class="cash-form-group">
      <label for="balance">{{'account.account_edit.account_balance' | i18n}}</label>
      <input
        id="balance"
        class="cash-textbox"
        type="text"
        formControlName="balance"
      />
    </div>
    <div class="cash-form-group">
      <button class="cash-save" type="submit">{{'account.account_edit.account_save' | i18n}}</button>
      <button *ngIf="!isNew()" class="cash-delete" (click)="onDelete()">{{'account.account_edit.account_delete' |
        i18n}}
      </button>
      <button class="cash-cancel" (click)="onCancel()">{{'account.account_edit.account_cancel' | i18n}}</button>
    </div>
  </form>
</div>
