@import '../../app.component.global';

.cash-navigation {
  height: $nav-bar-height;

  ul {
    background-color: #383838;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li a {
    color: #616161;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    color: #969696;
    background-color: #4b4b4b;
  }

  .left {
    float: left;
  }
}
