@import 'partials/colours';
@import 'partials/mixins';

//Will download these fonts - can be used in the fonts in the FONTS section.
//@include google-font('Alegreya+Sans');
//@include google-font('Titillium+Web');

$container-width: 900px;

// === FONTS ===
$text-colour: $grey;
$text-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$header-font: "Helvetica Neue", Helvetica, Arial, sans-serif;

// === INPUTS ===
$input-background-colour: $grey;
$input-text-colour: $cloud-grey;


// === TOP BAR ===
$top-bar-height: 30px;
$top-bar-colour: $black;
$top-bar-header-colour: $grey;
$top-bar-hover-colour: $cloud-grey;

.cash-top-bar-header {
  text-transform: uppercase;
  @include font-size(18px, bold)
}

.cash-top-bar-item {
  @include font-size(12px, bold)
}

// === NAV BAR ===
$nav-bar-height: 60px;
$nav-bar-colour: $storm-grey;
$nav-bar-item-colour: $grey;
$nav-bar-hover-colour: $cloud-grey;
$nav-bar-hover-background: $winter-grey;

.cash-nav-bar-item {
  @include font-size(14px, bold);
}

.left {
  float: left;
}

.right {
  float: right;
}

// == BUTTONS ===
$button-text-colour: $dusty-white;
$button-border-colour: $dusty-white;
.cash-submit {
  @include button($background: $dusty-blue, $text-colour: $button-text-colour)
}

.cash-cancel {
  @include button($background: $dusty-red, $text-colour: $button-text-colour)
}

.cash-form-group {
  margin-bottom: 15px;
}

// == TEXTBOX ===
.cash-textbox {
  @include textbox($dusty-white, $dusty-yellow);
}

// ========================
body {
  font-family: sans-serif;
  color: $text-colour;

  //@media only screen and (max-width: 960px) {
  //  font-size: 125%;
  //}
}

h1, h2, h3, h4 {
  font-family: $header-font;
  color: $text-colour;
}

label {
  @include label;
  color: $text-colour;
}

input[type="text"], textarea, input[type="password"], input[type="email"] {
  color: $input-text-colour;
  background-color: $input-background-colour;
}
