<div class="signup-component">
  <h2>Register</h2>
  <form [formGroup]="signUpForm" id="user-signup" (ngSubmit)="onSubmit()">
    <div>
      <div class="cash-form-group">
        <label for="username">Username:</label>
        <input
          id="username"
          class="cash-textbox"
          type="text"
          formControlName="username"
        />
      </div>
      <div class="cash-form-group">
        <label for="firstName">First Name:</label>
        <input
          id="firstName"
          class="cash-textbox"
          type="text"
          formControlName="firstName"
        />
      </div>
      <div class="cash-form-group">
        <label for="last-name">Last Name:</label>
        <input
          id="last-name"
          class="cash-textbox"
          type="text"
          formControlName="lastName"
        />
      </div>
      <div class="cash-form-group">
        <label for="email">Email:</label>
        <input
          id="email"
          class="cash-textbox"
          type="email"
          formControlName="email"
        />
      </div>
      <div class="cash-form-group">
        <label for="password">Password:</label>
        <input
          id="password"
          class="cash-textbox"
          type="password"
          formControlName="password"
        />
      </div>
      <div class="cash-form-group">
        <label for="confirm-password">Confirm Password:</label>
        <input
          id="confirm-password"
          class="cash-textbox"
          type="password"
          formControlName="confirmPassword"
        />
      </div>
      <div class="cash-form-group">
        <button
          class="cash-submit"
          type="submit"
          [disabled]="!signUpForm.valid">Register
        </button>
        <button (click)="onCancel()"
                class="cash-cancel">Cancel
        </button>
      </div>
    </div>
  </form>
</div>
