@import "../sass/dark-art-theme";

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  box-sizing: content-box !important;

  width: $large-width;
  @include large-screen {
    width: auto;
    max-width: $large-width;
  }
  margin-left: auto;
  margin-right: auto;
}
