@import "../sass/dark-art-theme";

.container {
  width: $container-width;
  //@media only screen and (max-width: 960px) {
  //  width: auto;
  //  max-width: $container-width;
  //}
  margin-left: auto;
  margin-right: auto;
}
