@import '../../../app.component.global';

.button-item {
  @include rounded(4px);

  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
  border: 1px solid #616161;
  height: 50px;
  margin-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;

  color: #616161;
  background-color: #383838;

  &:hover {
    color: #979797;
    background-color: #4b4b4b;
  }
}
