.top-bar {
  padding: 5px 5px 0 5px;
  height: 30px;
  background-color: #1A1A1A;

  .header {
    color: #616161;
  }

  .item {
    @extend .header;
  }

  a:hover {
    color: #969696;
  }

  a {
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
  }

  .right {
    float: right;
  }

  .left {
    float: left;
  }
}
