<div>
  <div fxLayout="row" class="top-bar">
    <div>
      <a class="header" (click)="onHeaderClick()">Cash Stash</a>
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="end" *ngIf="isUserLoggedIn()">
      <div>
        <a class="item">{{userFullName()}}</a>
      </div>
      <div>
        <a class="item" (click)="logout()">Logout</a>
      </div>
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="end" *ngIf="!isUserLoggedIn()">
      <div>
        <a class="item" [routerLink]="['signup']">Sign Up</a>
      </div>
      <div>
        <a class="item" [routerLink]="['signin']">Login</a>
      </div>
    </div>
  </div>
  <cash-navbar *ngIf="isUserLoggedIn()"></cash-navbar>
</div>
