@import '../../app.component.global';

.top-bar {

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 5px 5px 0 5px;
  background-color: $top-bar-colour;

  .header {
    cursor: pointer;
    color: $top-bar-header-colour;
    @extend .cash-top-bar-header;
  }

  .items {
    display: inherit;
    list-style: none;

    .item {
      cursor: pointer;
      color: $top-bar-header-colour;
      @extend .cash-top-bar-item;

      a:hover {
        color: $top-bar-hover-colour;
      }

      a {
        color: $top-bar-header-colour;
        text-align: center;
        padding: 5px 5px;
        text-decoration: none;
      }

    }
  }

  @include small-screen {
    max-width: $small-width;
  }

  a:hover {
    color: $top-bar-hover-colour;
  }

  a {
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
  }
}
