@import '../../app.component.global';

.top-bar {
  padding: 5px 5px 0 5px;
  height: $top-bar-height;
  background-color: $top-bar-colour;

  .header {
    cursor: pointer;
    color: $top-bar-header-colour;
    @extend .cash-top-bar-header;
  }

  .item {
    cursor: pointer;
    color: $top-bar-header-colour;
    @extend .cash-top-bar-item;
  }

  a:hover {
    color: $top-bar-hover-colour;
  }

  a {
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
  }
}
