<div class="top-bar">
  <div>
    <a class="header" (click)="onHeaderClick()">Cash Stash</a>
  </div>
  <ul *ngIf="isUserLoggedIn();else notLoggedIn" class="items">
    <li class="item">
      <a>{{userFullName()}}</a>
    </li>
    <li class="item">
      <a (click)="logout()">Logout</a>
    </li>
  </ul>
  <ng-template #notLoggedIn>
    <ul class="items">
      <li class="item">
        <a [routerLink]="['auth/signup']">Sign Up</a>
      </li>
      <li class="item">
        <a [routerLink]="['auth/signin']">Login</a>
      </li>
    </ul>
  </ng-template>
</div>
